* {
  padding: 0;
  margin: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #b64b4b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  width: 80%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.form-message {
  flex-direction: row;
  justify-content: space-between;
}

input {
  font-size: 1.125rem;
  padding: 0.75rem;
  outline: none;
}

#message {
  width: calc(95% - 100px);
}

button {
  font-size: 1.25rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
  outline: none;
  border: none;
}

.sendBTN {
  width: 100px;
}

ul {
  display: flex;
  flex-flow: column;
  justify-content: left;
  list-style-type: none;
  border: 1px solid black;
  width: 80%;
  color: #CCC;
}

ul li {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}
